<ion-header>
  <ion-toolbar>
    <ion-title >users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row >
          <ion-col >
            <ion-button  shape="round" fill="outline" [routerLink] = "['/','restaurant-choose-form']"> Restaurant</ion-button>
            <ion-row>
                <ion-button  shape="round" fill="outline" [routerLink] = "['/','main']"> User</ion-button>
            </ion-row>
          </ion-col>
          
        </ion-row>
      </ion-grid>
</ion-content>


