<ion-header>
  <ion-toolbar>
      <ion-back-button defaultHref="/" slot="start"></ion-back-button>
      <ion-title class="header">Restaurant List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button shape="round" fill="outline" *ngFor="let item of data" [routerLink] = "['/', 'edit', item.name]">
        {{item.name}}
        </ion-button>
      <ion-row>
        <ion-button shape="round" fill="outline" color="tertiary"  [routerLink] = "['/', 'register']">
          Add New Restaurant
        </ion-button>
      </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
