.card-background-page{
    ion-card{
        position: relative;
        text-align: center;
    }
    .card-title{
        position: absolute;
        text-align: center;
        top: 10%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 4px  #0f0808;
    }
    .card-subtitle{
        font-size: 1.0em;
        position: relative;
        color: rgb(255, 255, 255);
        top:52%;
        width: 100%;
        text-shadow: 2px 2px 8px #0f0808;
    }
}
img{
    height: 170px;
    width: 400px;
    color: blue;
    padding-bottom: 4px;
    filter: blur(1px);
    border-radius: 25px;
}
.center{
    align-items: center;
    text-align: center;
}