<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/restaurant-choose-form" slot="start"></ion-back-button>
    <ion-title>Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-title shape="round" fill="outline" color="tertiary"  [routerLink] = "['/', 'edit-beacon']" class="center">Edit Beacon</ion-title>
          <ion-list >
            <ion-item *ngFor="let item of beacon" lines="none">
                <ion-label class="center">
                    {{item.beaconName}}
                    <h3 class="center"> {{item.uuid}}</h3>
                    <h3 class="center"> {{item.minor}}</h3>
                  </ion-label> 
            </ion-item>
          </ion-list>
      </ion-col>

     

    </ion-row>
    <ion-row>
        <ion-col >
            <ion-title shape="round" fill="outline" color="primary" class="center" >Edit Menu</ion-title>
        </ion-col>
      </ion-row>
    <ion-row>
        <ion-col>
            <ion-list class="card-background-page" >
                <ion-item  button *ngFor="let item of data" lines="none"> 
                    <img [src]="item.image">
                  <ion-label class="card-title">
                      {{ item.dishName }}
                      <h3 class="card-subtitle"> {{ item.price }} baht</h3>
                    </ion-label>
                </ion-item>
              </ion-list>
        </ion-col>
      </ion-row>
  
  </ion-grid>
 

</ion-content>
