<ion-header>
  <ion-toolbar>
      <ion-back-button defaultHref="/restaurant-choose-form" slot="start"></ion-back-button>
    <ion-title>RegisterBeacon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="none">
        <ion-grid>
          <ion-row>
            <ion-col padding >
             
                <ion-label>Enter Below</ion-label>
                <ion-item >
                  <ion-icon name="md-home" slot="start"></ion-icon>
                  <ion-input type="text" name="title" placeholder="Beacon name"></ion-input>
                </ion-item>

                <ion-item >
                    <ion-icon name="logo-rss" slot="start"></ion-icon>
                    <ion-input type="text" name="title" placeholder="UUID"></ion-input>
                  </ion-item>

                  <ion-item >
                      <ion-icon name="md-pin" slot="start"></ion-icon>
                      <ion-input type="text" name="title" placeholder="Minor"></ion-input>
                  </ion-item>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button shape="round" fill="outline" color="tertiary"  slot="end" [routerLink] = "['/', 'restaurant-choose-form']">
            Done
        </ion-button>
    </ion-toolbar>
  </ion-footer>
