<ion-header>
  <ion-toolbar>
      <ion-back-button defaultHref="/restaurant-choose-form" slot="start"></ion-back-button>
    <ion-title>Register Your Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="none">
        <ion-grid>
          <ion-row>
            <ion-col padding >
             
                <ion-label>Enter Below</ion-label>
                <ion-item >
                  <ion-icon name="md-home" slot="start"></ion-icon>
                  <ion-input type="text" name="title" placeholder="Restaurant name"></ion-input>
                </ion-item>

                <ion-item >
                    <ion-icon name="ios-information-circle-outline" slot="start"></ion-icon>
                    <ion-input type="text" name="title" placeholder="Description"></ion-input>
                  </ion-item>

                  <ion-item  lines="none">
                  <ion-button shape="round" fill="outline" color="tertiary">
                      <ion-icon name="md-cloud-upload" slot="start"></ion-icon>
                      PHOTO
                  </ion-button>
                </ion-item>

                  <ion-item  lines="none">
                  <ion-button shape="round" fill="outline" color="tertiary" >
                      <ion-icon name="md-pin" slot="start"></ion-icon>
                      Get Location
                  </ion-button>
                  </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button shape="round" fill="outline" color="tertiary"  slot="end"  [routerLink] = "['/', 'register-beacon']">
            NEXT
        </ion-button>
        <ion-button shape="round" fill="outline" color="tertiary"  slot="start"  (click)="presentAlert()">
            PREVIEW
      </ion-button>
    </ion-toolbar>
  </ion-footer>