<ion-header>
  <ion-toolbar>
      <ion-back-button defaultHref="/edit/:name" slot="start"></ion-back-button>
    <ion-title>editBeacon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
