<ion-header >
    
  <ion-toolbar color = "dark">
      <ion-back-button defaultHref="/" slot="start"></ion-back-button>
    <ion-title class="header">BUYCON</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark"  padding >
  <ion-grid>
    <ion-row >
      <ion-col>
          <ion-button shape="round" fill="outline" *ngFor="let item of data" [routerLink] = "['/','view-order',item.name]">
            {{item.name}}
            </ion-button>
      </ion-col>
   
  </ion-row>
    </ion-grid>
   
</ion-content>
