.header{
    text-align: center;
}
.toolbar{
    color: #0B2E5E;
}
.content{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.button{
    height: 36px;
    width: auto;
    border-top: 1cm;
    color: beige;
}
.img{
 
        height:150px;
        width: 150px;
        text-align: center;
        margin-left: auto;
  margin-right: auto;
        
}
