.header{
    text-align: center;
    color: aliceblue;
}
.toolbar{
    color: #0B2E5E;
}
.content{
    background-color: rgb(1, 95, 95);
    text-align: center;
}
.button{
    height: 50px;
    width: 100px;
    border-top: 1cm;
    color: beige;
}
.card{
    text-align: start;
}
.icon{
    font-size: 40px
}
.arrow{
    color: aliceblue;
    
}
.space{
    padding-bottom: 4px;
    background-color: rgb(139, 236, 243);
}
