<ion-header>
  <ion-toolbar color="dark">
      <ion-back-button defaultHref="/main" slot="start"></ion-back-button>
    <ion-title>ViewOrder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" >
  
  <ion-list class="content">
    <ion-item button *ngFor="let item of data"  class="space">
      <ion-avatar slot="start">
        <img [src]="item.image">
      </ion-avatar>
      <ion-label text-wrap>
          {{ item.dishName }}
          <h3> {{ item.price }} baht</h3>
        </ion-label>
        <ion-icon slot="end"  name="md-add-circle"></ion-icon>
    </ion-item>
  </ion-list>



</ion-content>